.introduction-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
   }
   
   .introduction-image {
    width: 40%;
    max-width: 500px;
   }
   
   .introduction-text {
    width: 40%;
    text-align: justify;
   }
   
   @media (max-width: 768px) {
    .introduction-container {
       flex-direction: column;
    }
   
    .introduction-image, .introduction-text {
       width: 100%;
    }
   }